body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color:plum;
    color: whitesmoke;
}

header {
    background-color: #979494;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}


.home {
    background: url("https://i.pinimg.com/236x/a8/ba/9c/a8ba9cad0c5a73af40bdc1d794481b16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cover img {
    width: 100%;
    max-width: 700px;
    margin: 15px 0;
    margin-left: -100px;
    opacity: initial;
}

.container{
    display:flex;
    border:2px solid blanchedalmond ;
    margin: 10px ;
    border-radius: 30px;
    padding :10px;
    color: black;
    overflow-y: hidden;
}

.container .item-container{
    border: 2px solid blanchedalmond;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    background: transparent;
}

.item-container img{
    height: 300px;
}

footer {
    background-color: pink;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.nav-btn {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: pink;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: palegoldenrod;
}
.about-page {
    background-image: url('https://i.pinimg.com/236x/b1/75/ef/b175ef51a9d440c05312cb4ce5beb322.jpg'); 
    background-size: cover;
    background-position: center;
}

.about-content {
    padding: 20px;
    color: #333;
}
.services-page {
    background-image: url('https://i.pinimg.com/236x/b1/75/ef/b175ef51a9d440c05312cb4ce5beb322.jpg'); 
    background-size: cover;
    background-position: center;
}

.services-content {
    padding: 20px;
    color: #333;
}
.products-page{
    background-image:url('https://i.pinimg.com/236x/b1/75/ef/b175ef51a9d440c05312cb4ce5beb322.jpg') ;
    background-size: cover;
    background-position: center;
}
.products-content{
    padding: 20px;
    color: #333;
}

