body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color:#e4b4b4;
    color: whitesmoke;
}

header {
    background-color: #655959;
    color: #e4b4b4;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}


.home {
    background: url("https://i.pinimg.com/236x/a8/ba/9c/a8ba9cad0c5a73af40bdc1d794481b16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cover img {
    width: 100%;
    max-width: 700px;
    margin: 15px 0;
    margin-left: -100px;
    opacity: initial;
}

.container{
    display:flex;
    border:2px solid blanchedalmond ;
    margin: 10px ;
    border-radius: 30px;
    padding :10px;
    color: black;
    overflow-y: hidden;
}

.container .item-container{
    display: grid;
    border: 2px solid blanchedalmond;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    background: transparent;
    margin-bottom: 20px;
}

.item-container img{
   max-height: 300px;
   width: auto;
}

.footer {
    background-color: #6f5e5e;
    color: #daa5a5;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.nav-btn {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: #8e7474;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: palegoldenrod;
}
.about-page {
    background-image: url('https://i.pinimg.com/236x/b1/75/ef/b175ef51a9d440c05312cb4ce5beb322.jpg'); 
    background-size: cover;
    background-position: center;
}

.about-content {
    padding: 20px;
    color: #333;
}
.services-page {
    background-image: url('https://i.pinimg.com/236x/b1/75/ef/b175ef51a9d440c05312cb4ce5beb322.jpg'); 
    background-size: cover;
    background-position: center;
}

.services-content {
    padding: 20px;
    color: #333;
}
.products-page{
    background-image:url('https://i.pinimg.com/236x/f2/d4/74/f2d474ba2a2146ba2cdddeef9b3d7182.jpg') ;
    background-size: cover;
    background-position: center;
}
.products-content{
    padding: 20px;
    color: #ece5e5;
}
.dropdown-button {
    background-color: #bfa1a1; 
    padding: 5px;
    border: 0px solid;
    border-radius: 4px;
    color: #fffefe;
    font-size: 16px;
}

.btn {
    background-color: #8e7474; 
    color: #fff; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(112, 105, 24); 
}
.container-products{
    display:grid; grid-template-columns:repeat(5,1fr);
    gap: 15px;
    border:2px solid blanchedalmond ;
    margin: 10px ;
    border-radius: 30px;
    padding :10px;
    color: black;
    overflow-x: hidden;
}
.container-products .item-container{
    border: 2px solid blanchedalmond;
    width: 265px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    background: transparent;
}
